<div class="app-container">
  <div class="main-container flex ">
    <div class="left-wrap w-1/4 card">
      <nz-input-group [nzSuffix]="suffixIcon">
        <input type="text" rounded nz-input placeholder="请输入部门名称" [(ngModel)]="searchValue" />
      </nz-input-group>
      <ng-template #suffixIcon>
        <i nz-icon nzType="search"></i>
      </ng-template>
      <nz-tree
        class="mt-4"
        nzBlockNode
        nzExpandAll
        [nzData]="nodes"
        [nzSearchValue]="searchValue"
        (nzClick)="nzEvent($event)"
        (nzExpandChange)="nzEvent($event)"
        (nzSearchValueChange)="nzEvent($event)"

      ></nz-tree>

    </div>
    <div class="right-wrap flex-1 ml-5 card ">
      <form nz-form [formGroup]="queryParams" [nzLayout]="'inline'" (ngSubmit)="handleQuery()" class="ant-advanced-search-form ">
        <div nz-row [nzGutter]="24" class="form-wrap w-full">
          <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
            <nz-form-item>
              <nz-form-label nzFor="userName">用户名</nz-form-label>
              <nz-form-control >
                <input nz-input formControlName="userName" id="userName"  placeholder="请输入"/>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
            <nz-form-item>
              <nz-form-label nzFor="userName">手机号码</nz-form-label>
              <nz-form-control  >
                <input nz-input formControlName="phonenumber" id="phonenumber" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
            <nz-form-item class="w-full">
              <nz-form-label nzFor="status">状态</nz-form-label>
              <nz-form-control  >
                <nz-select   formControlName="status" id="status">
                  <nz-option [nzValue]="item.dictValue" [nzLabel]="item.dictLabel" *ngFor="let item in sys_normal_disable"></nz-option>
                </nz-select>
              </nz-form-control>

            </nz-form-item>
          </div>
          <div nz-col [nzMd]="8" [nzSm]="12" [nzXs]="24">
            <nz-form-item>
              <nz-form-label nzFor="dateRange">创建时间</nz-form-label>
              <nz-form-control  >
<!--                 <input nz-input formControlName="dateRange" id="dateRange" /> -->
                <nz-range-picker formControlName="dateRange" id="dateRange" ></nz-range-picker>

              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row class="flex">
          <nz-form-item>
            <nz-form-control >
              <button nz-button nzType="primary" class="mr-3">
                <i nz-icon nzType="search"></i>搜索</button>
              <button nz-button (click)="resetForm()">
                <i nz-icon nzType="reload" nzTheme="outline"></i>重置</button>
            </nz-form-control>
          </nz-form-item>
        </div>
    </form>
      <div class="opea-btns">
        <button nz-button nzType="primary" nzDanger>新增</button>
        <button nz-button  >修改</button>
        <button nz-button nzDanger>删除</button>
        <button nz-button  >导入</button>
        <button nz-button >导出</button>
      </div>
      <nz-table
        class="mt-5"
        nzBordered="true"
        #rowSelectionTable
        nzShowPagination
        nzShowSizeChanger
        [nzData]="listOfData"
        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      >
        <thead>
        <tr>
          <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)"></th>
          <th>用户编号</th>
          <th>用户名称</th>
          <th>用户昵称</th>
          <th>部门</th>
          <th>手机号码</th>
          <th>状态</th>
          <th>创建时间</th>
          <th nzRight="true">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of rowSelectionTable.data">
          <td
            [nzChecked]="setOfCheckedId.has(data.id)"

            (nzCheckedChange)="onItemChecked(data.id, $event)"
          ></td>
          <td>{{ data.userId }}</td>
          <td>{{ data.userName }}</td>
          <td>{{ data.nickName }}</td>
          <td>{{ data.deptName }}</td>
          <td>{{ data.phonenumber }}</td>
          <td>{{ data.status }}</td>
          <td>{{ data.createTime }}</td>
          <td nzRight="true">
            <a href="#">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="#">删除</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="#">重置密码</a>
          </td>
        </tr>
        </tbody>
      </nz-table>
  </div>
</div>
</div>
