<nz-layout class="layout-container">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu  nzMatchRouter nzMatchRouterExact nzTheme="dark" nzMode="inline">
      <li nz-submenu  [nzTitle]="menu.meta.title"  *ngFor="let menu of routerList" >
        <ul>
          <li nz-menu-item *ngFor="let submenu of menu.children "  >
            <a [routerLink]="menu.path+'/'+submenu.path">
              {{ submenu.meta.title }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>

    <nz-header>
      <div class="flex">
        <i
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></i>
        <nz-breadcrumb [nzAutoGenerate]="true">
        </nz-breadcrumb>
      </div>
    </nz-header>
    <nz-content>
      <nz-tabset [(nzSelectedIndex)]="index" nzType="editable-card" nzHideAdd (nzClose)="closeTab($event)" >
        <nz-tab *ngFor="let tab of tabs; let i = index" [nzClosable]="i > 1" >
          <span *nzTabLink nz-tab-link [routerLink]="[tab.url]"  >
            {{ tab?.title || '' }}
          </span>
        </nz-tab>
      </nz-tabset>

      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>

